<a rel="me" href="https://mastodon.online/@gts"></a>
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper footer">
    <p>
        <a href="{{ site.feed.path | default: 'feed.xml' | absolute_url }}" aria-label="RSS feed">
          <span class="fa-icon fa-rss orange" aria-hidden="true"></span>
        </a>
    </p>
    <p>
        <a href="{{ site.links.github }}" aria-label="GitHub">
          <span class="fa-icon fa-github grey" aria-hidden="true"></span>
        </a>
    </p>
  </div>
</footer>
