$base-font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$base-line-height: 1.6;
$monospace-font-family: Menlo, Monaco, Consolas, "Courier New", monospace;