/* Variable fonts usage:
:root { font-family: "Inter", sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", sans-serif; font-optical-sizing: auto; }
} */

// @font-face {
//   font-family: InterVariable;
//   font-style: normal;
//   font-weight: 100 900;
//   font-display: swap;
//   src: url("/static/fonts/inter/InterVariable.woff2") format("woff2");
// }
// @font-face {
//   font-family: InterVariable;
//   font-style: italic;
//   font-weight: 100 900;
//   font-display: swap;
//   src: url("/static/fonts/inter/InterVariable-Italic.woff2") format("woff2");
// }

.site-title {
  font-weight: 600;
}

ul {
  margin-left: 0;
  list-style-type: none;
}

#tags ul,
#tags li {
  display: inline-block;
  margin: 0.25em 0.25em 0.25em 0;

  a {
    font-size: 14px;
    text-decoration: underline;
  }
}

/* Restore default list styles for post content */
.post-content ul,
.post-content ol {
  list-style-type: disc;
  margin-left: 2em;
  padding-left: 0;
}

.post-content ol {
  list-style-type: decimal;
}

#post-list li {
  margin: 0.5em 0;
}

.home img {
  max-width: 200px;
  border-radius: 50%;
  float: left;
  margin: 1em;
}

.black {
  color: black;
}

.site-footer .wrapper {
  display: flex;
  justify-content: center;

  p {
    display: inline-block;
    margin: 0 0.5em;
  }
}

small,
#tags {
  font-family: $monospace-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}